.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg_home {
  background-image: url(../../public/assets/ocean.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.bg_overlay {
  background-color: rgba(4, 8, 24, 0.60);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.home_section {
  width: 100%;
  height: 100%;
}

.resume_btn {
  padding: 12px 36px;
  font-size: 0.875rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e63254;
  transition: all 0.4s;
  color: #e63254;
  cursor: pointer;
  border-radius: 4px;
}

.resume_btn:hover {
  background-color: #e63254;
  color: #fff;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}

.title_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  color: #ffffff;
}

.text {
  color: #ffffff;
}

.home_title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 20px;
}

.scroll_icon {
  position: absolute;
  left: 0;
  right: 0;
  height: 42px;
  border: 2px solid #495057;
  bottom: 30px;
  margin: auto;
  width: 30px;
  box-shadow: 0 0 3px rgb(60 72 88 / 15%);
  border-color: #f9fafd;
  border-radius: 30px;
  cursor: pointer;
}

.scroll_icon:after {
  background-color: #ee0979;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 10rem;
  animation: d 5s linear infinite;
}

.scroll_icon > span {
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  width: 2px;
  animation: mover 1s infinite alternate;
  background: #f9fafd;
  position: relative;
  display: block;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.section_content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}

.section_title {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  position: relative;
}

.section_title::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 3px;
  width: 3rem;
  background: #ff3c63;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.section_wrapper {
  max-width: 1140px;
  margin: auto;
  padding: 0 16px;
}

.project_section {
  max-width: 1000px;
  margin: auto;
  padding: 0 16px;
}

@media only screen and (max-width: 1200px) {
  .section_wrapper {
    margin: 0 12px;
  }

  .project_section {
    margin: 0 12px;
  }
}

@media only screen and (max-width: 900px) {
  .section_content {
    display: flex;
    justify-content: center;
  }

  .section_content .intro_text {
    margin-top: 72px;
    font-size: 18px;
  }

  .section_content .intro_text p {
    font-size: 18px;
  }
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 24px;
  margin: 72px auto 0;
}

@media only screen and (max-width: 770px) {
  .skills_container {
    grid-gap: 16px
  }
}

.skill_box {
  transition: all 0.2s ease;
  border-radius: 10px;
  background-color: #f9fafd;
  padding: 16px 8px;
  border: 3px solid rgb(216, 223, 230);
}

.skill_box h6 {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.skill_box:hover {
  background: #fff;
  box-shadow: 0 10px 25px rgb(60 72 88 / 15%);
  transform: translateY(-5px);
}

.skill_box:hover .icon {
  color: #0979ee;
}

.icon {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

.bg_light {
  background-color: #f9fafd;
}

.submitBtn {
  padding: 12px 25px;
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #e63254;
  border: 1px solid #e63254;
}

.submitBtn:hover {
  background-color: #ff2853;
}

.imageContainer {
  max-width: 445px;
  padding: 0.25rem 0.25rem 0;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.intro_text p {
  color: #484e53;
  line-height: 1.4;
  font-size: 20px;
  margin: 0 0 16px;
}

@media only screen and (max-width: 770px) {
  .intro_text p {
    text-align: justify;
  }
}
